/*Gradient Buttons */

.btn-purple-moon {
    background: #4e54c8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-purple-moon1 {
    background: #4e54c8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-ultra-voilet {
    background: #654ea3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-pink-moon {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-cool-blues {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-dark-blue {
    background: #7474BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-green-moon {
    background: #56ab2f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-orange-moon {
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-dark-moon {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-light-moon {
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    border: 3px solid #424242;
}

.btn-funky-moon {
    background: #A770EF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #424242;
}

.btn-rounded {
    border-radius: 35px;
}

.properties__card::before {
    content: '';
    position: absolute;
    background: #E53935;
    height: 40px;
    width: 16px;
    top: -10px;
    left: 21px;
    z-index: 99999;
    border-radius: 50px;
    transform: rotateZ(220deg);
}

.properties__card::after {
    content: '';
    position: absolute;
    background: #424242;
    height: 26px;
    width: 17px;
    top: -10px;
    left: 26px;
    z-index: 99999;
    border-radius: 50px;
    transform: rotateZ(220deg);
}


/* Filter Styles */

.filter-grid {
    margin-top: 4%;
}

.filter-row {
    justify-content: center;
    padding: 1%;
    margin: 1%;
}

.filter-row button {
    color: #eeeeee;
    padding: 0 2em !important;
    margin: 0 1em;
    height: 3.2em;
    border-radius: 50px;
}

.filter-scroll {
    max-height: 400px;
    overflow-y: scroll;
    background-color: #424242;
    border-radius: 40px;
}

.filter-scroll button {
    margin: 0.4em 0.8em;
}