.properties__card::before {
    content: '';
    position: absolute;
    background: red;
    height: 40px;
    width: 16px;
    top: -10px;
    left: 21px;
    z-index: 99999;
    border-radius: 50px;
    transform: rotateZ(220deg);
}

.properties__card::after {
    content: '';
    position: absolute;
    background: black;
    height: 26px;
    width: 17px;
    top: -10px;
    left: 26px;
    z-index: 99999;
    border-radius: 50px;
    transform: rotateZ(220deg);
}